.menu{
    background-color: #2A2E3C;
    font-weight: bold;
    box-shadow: 0 0 9px #43792A;
}

.menuLetra >a{
    color: #FFE485 !important;
}

.menuLetra >a:hover {
    color: #FF9A47 !important;
}


.custom-toggler.navbar-toggler {
    background-color: rgb(255,228,133);
}
.custom-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,154,71)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}